<div class="content" fxLayout="row" fxLayoutAlign="center center">
    <div class="full-height" fxLayout="column" fxFlex="30">
        <div class="header" fxLayout="row" fxLayoutAlign=" center">
            <h1>My inbox</h1>
        </div>
        <div class="list-chat" fxFlex>
            <div class="chatting" fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="8px">
                <img src="assets/avatar/Morgan Freeman.jpg">
                <div fxLayout="column" fxFlex fxLayoutAlign="center" fxLayoutGap="4px">
                    <div class="full-width" fxLayout="row" fxLayoutAlign="space-between">
                        <div class="user-name">Luis Calvillo</div>
                        <div class="last-time">1:22 am</div>
                    </div>
                    <div>Alo, 1234 5678</div>
                </div>
            </div>
            <div class="chatting" fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="8px">
                <img src="assets/avatar/Morgan Freeman.jpg">
                <div fxLayout="column" fxFlex fxLayoutAlign="center" fxLayoutGap="4px">
                    <div class="full-width" fxLayout="row" fxLayoutAlign="space-between">
                        <div class="user-name">Luis Calvillo</div>
                        <div class="last-time">1:22 am</div>
                    </div>
                    <div>Alo, 1234 5678</div>
                </div>
            </div>
            <div class="chatting" fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="8px">
                <img src="assets/avatar/Morgan Freeman.jpg">
                <div fxLayout="column" fxFlex fxLayoutAlign="center" fxLayoutGap="4px">
                    <div class="full-width" fxLayout="row" fxLayoutAlign="space-between">
                        <div class="user-name">Luis Calvillo</div>
                        <div class="last-time">1:22 am</div>
                    </div>
                    <div>Alo, 1234 5678</div>
                </div>
            </div>
            <div class="chatting" fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="8px">
                <img src="assets/avatar/Morgan Freeman.jpg">
                <div fxLayout="column" fxFlex fxLayoutAlign="center" fxLayoutGap="4px">
                    <div class="full-width" fxLayout="row" fxLayoutAlign="space-between">
                        <div class="user-name">Luis Calvillo</div>
                        <div class="last-time">1:22 am</div>
                    </div>
                    <div>Alo, 1234 5678</div>
                </div>
            </div>
            <div class="chatting" fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="8px">
                <img src="assets/avatar/Morgan Freeman.jpg">
                <div fxLayout="column" fxFlex fxLayoutAlign="center" fxLayoutGap="4px">
                    <div class="full-width" fxLayout="row" fxLayoutAlign="space-between">
                        <div class="user-name">Luis Calvillo</div>
                        <div class="last-time">1:22 am</div>
                    </div>
                    <div>Alo, 1234 5678</div>
                </div>
            </div>
            <div class="chatting" fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="8px">
                <img src="assets/avatar/Morgan Freeman.jpg">
                <div fxLayout="column" fxFlex fxLayoutAlign="center" fxLayoutGap="4px">
                    <div class="full-width" fxLayout="row" fxLayoutAlign="space-between">
                        <div class="user-name">Luis Calvillo</div>
                        <div class="last-time">1:22 am</div>
                    </div>
                    <div>Alo, 1234 5678</div>
                </div>
            </div>
            <div class="chatting" fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="8px">
                <img src="assets/avatar/Morgan Freeman.jpg">
                <div fxLayout="column" fxFlex fxLayoutAlign="center" fxLayoutGap="4px">
                    <div class="full-width" fxLayout="row" fxLayoutAlign="space-between">
                        <div class="user-name">Luis Calvillo</div>
                        <div class="last-time">1:22 am</div>
                    </div>
                    <div>Alo, 1234 5678</div>
                </div>
            </div>
        </div>
    </div>

    <div class="full-height" fxLayout="column" fxFlex="70">
        <div class="header box">
            <h1>Luis Calvillo</h1>
        </div>
        <div class="chat-box" fxFlex fxLayout="column" fxLayoutAlign="end" fxLayoutGap="12px">
            <div class="chat-pull" fxLayout="row" fxLayoutAlign=" end">
                <img class="ava chat" src="assets/avatar/Morgan Freeman.jpg">
                <div fxLayout="column" fxLayoutAlign=" start" fxLayoutGap="2px">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the
                        industry's standard dummy text ever since the 1500s,</p>
                    <p>Lorem Ipsum is simply </p>
                </div>
            </div>
            <div class="chat-push" fxLayout="column" fxLayoutAlign=" end" fxLayoutGap="2px">
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s,
                </p>
                <p>Lorem Ipsum is simply </p>
                <p>Lorem Ipsum is simplyLorem Ipsum is simply </p>
            </div>
            <div class="chat-pull" fxLayout="row" fxLayoutAlign=" end">
                <img class="ava chat" src="assets/avatar/Morgan Freeman.jpg">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s,</p>
            </div>
        </div>
        <div class="chat-action" fxLayout="row" fxLayoutAlign=" center">
            <button mat-button color="primary">
                <mat-icon>photo_size_select_actual</mat-icon>
            </button>
            <button mat-button color="primary">
                <mat-icon>attach_file</mat-icon>
            </button>
            <input matInput placeholder="Nhập tin nhắn…">
            <button mat-button color="primary">
                <mat-icon>send</mat-icon>
            </button>
        </div>
    </div>
</div>