<div class="header" fxLayout="row wrap" fxLayoutAlign=" center" fxLayoutGap="20px">
    <img src="assets/imgs/teame-logo.png" alt="mule-logo">

    <div class="nav-bar" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="30">
        <button mat-button routerLink="">Home</button>
        <button mat-button>About us</button>
        <button mat-button>Termer & User</button>
    </div>

    <div fxLayout="row" fxLayoutAlign="end center" fxFlex fxLayoutGap="8px">
        <mat-form-field appearance="none" class="search">
            <div fxLayout="row" fxLayoutGap="6px">
                <mat-icon>search</mat-icon>
                <input matInput type="text" placeholder="Search">
            </div>
        </mat-form-field>

        <button *ngIf="login; else logOut" class="btn-login" mat-raised-button color="linear"
            (click)="handleLogIn()">Login</button>
        <ng-template #logOut>
            <app-user-info [statusLogging]="login" (logOut)="handleLogOut($event)"></app-user-info>
        </ng-template>
    </div>
</div>