<div class="classes" fxLayout="column">
    <div class="user" fxLayout="row" fxLayoutAlign="end center">
        natbestboy@gmail.com
        <img src="assets/avatar/Morgan Freeman.jpg" class="ava chat">
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div class="header">Tất Cả Lớp Học</div>
    </div>

    <div class="filter-bar" fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div fxLayout="row wrap" fxLayoutGap="12px" fxLayoutAlign=" center">
            <mat-form-field appearance="none" class="search filter">
                <select matNativeControl>
                    <option value="all">Tất cả ngôn ngữ</option>
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                </select>
            </mat-form-field>

            <mat-form-field appearance="none" class="search filter">
                <select matNativeControl>
                    <option value="all">Tất cả trạng thái</option>
                    <option value="volvo">Active</option>
                    <option value="saab">Inactive</option>
                </select>
            </mat-form-field>

            <mat-form-field appearance="none" class="search">
                <div fxLayout="row" fxLayoutGap="6px">
                    <mat-icon>search</mat-icon>
                    <input matInput type="text" placeholder="Search">
                </div>
            </mat-form-field>
        </div>

        <button mat-raised-button color="primary" (click)="openDialogUpdateInfoLecturer(null, 'add')">
            <mat-icon>add</mat-icon>
            Thêm giáo viên
        </button>
    </div>


    <div class="data-table">
        <mat-table [dataSource]="dataSource" [trackBy]="trackByFn">

            <!-- Code Column -->
            <ng-container matColumnDef="code">
                <mat-header-cell *matHeaderCellDef> Mã GV </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element?.id}} </mat-cell>
            </ng-container>

            <!-- Lecturer Column -->
            <ng-container matColumnDef="lecturer">
                <mat-header-cell *matHeaderCellDef> Họ và tên </mat-header-cell>
                <mat-cell *matCellDef="let element" fxLayout="column" fxLayoutAlign="center start">
                    <div>{{element?.fullName}}</div>
                </mat-cell>
            </ng-container>

            <!-- Language Column -->
            <ng-container matColumnDef="language">
                <mat-header-cell *matHeaderCellDef> Ngôn ngữ </mat-header-cell>
                <mat-cell *matCellDef="let element" fxLayout="column" fxLayoutAlign="center start">
                    <div>{{element?.language}}</div>
                </mat-cell>
            </ng-container>

            <!-- Cetificate Column -->
            <ng-container matColumnDef="level">
                <mat-header-cell *matHeaderCellDef> Trình độ </mat-header-cell>
                <mat-cell *matCellDef="let element" fxLayout="column" fxLayoutAlign="center start">
                    <div>{{element?.level}}</div>
                </mat-cell>
            </ng-container>

            <!-- Price level Column -->
            <ng-container matColumnDef="price">
                <mat-header-cell *matHeaderCellDef> Mức học phí </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element?.priceLevel}} </mat-cell>
            </ng-container>

            <!-- Email Column -->
            <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <div class="long-text">{{element?.email}} </div>
                </mat-cell>
            </ng-container>

            <!-- Status Column -->
            <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef> Trạng thái </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element?.status}} </mat-cell>
            </ng-container>

            <!-- Date join Column -->
            <ng-container matColumnDef="joinDate">
                <mat-header-cell *matHeaderCellDef> Ngày tham gia </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element?.joinedDate}} </mat-cell>
            </ng-container>

            <!-- Menu Column -->
            <ng-container matColumnDef="menu">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element" fxLayout="column" fxLayoutAlign="center center">
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_horiz</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="openDialogUpdateInfoLecturer(element, 'update')">Chỉnh sửa</button>
                        <button mat-menu-item>Copy link FB</button>
                        <button mat-menu-item>Dừng hoạt động</button>
                    </mat-menu>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>

</div>