<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content [formGroup]="form">
    <div fxLayout="row">
        <div class="text-field" fxLayout="row" fxLayoutAlign=" center">Họ và tên</div>
        <mat-form-field>
            <input matInput formControlName="fullName">
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayout="row" fxLayoutAlign=" center">
        <div class="text-field">Email</div>
        <mat-form-field>
            <input matInput formControlName="email">
        </mat-form-field>
    </div>

    <div class="note" fxLayout="row" fxLayout="row" fxLayoutAlign=" center">
        <div class="text-field">Ngôn ngữ</div>
        <mat-form-field appearance="none" class="search filter">
            <mat-select matNativeControl formControlName="language" (selectionChange)="changeLanguage($event)">
                <mat-option *ngFor="let language of languages" [value]="language.id">{{language.name}}</mat-option>>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="note" fxLayout="row" fxLayout="row" fxLayoutAlign=" center">
        <div class="text-field">Trình độ cao nhất</div>
        <mat-form-field appearance="none" class="search filter">
            <mat-select matNativeControl formControlName="level">
                <mat-option>-----</mat-option>
                <mat-option *ngFor="let level of levels" [value]="level.id">{{level.name}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="note" fxLayout="row" fxLayout="row" fxLayoutAlign=" center">
        <div class="text-field">Mức học phí</div>
        <mat-form-field appearance="none" class="search filter">
            <select matNativeControl formControlName="priceLevel">
                <option value="">-----</option>
                <option value="NORMAL">Normal</option>
                <option value="SPECIAL">Special</option>
            </select>
        </mat-form-field>
    </div>

    <div class="note last-field" fxLayout="row" fxLayout="row" fxLayoutAlign=" center">
        <div class="text-field">Link facebook</div>
        <mat-form-field appearance="none" class="search text-input" fxFlex>
            <input matInput formControlName="facebookLink">
        </mat-form-field>
    </div>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="12px">
    <button mat-stroked-button color="primary" mat-dialog-close>Huỷ</button>
    <div *ngIf="data.feature === 'update'">
        <button mat-raised-button color="primary" mat-dialog-close (click)="submit()" [disabled]="!form.valid">Lưu
            thay đổi</button>
    </div>
    <div *ngIf="data.feature === 'add'">
        <button mat-raised-button color="primary" mat-dialog-close (click)="submit()" [disabled]="!form.valid">Thêm
            giáo viên</button>
    </div>
</div>

<div *ngIf="loading" class="loading-dialog">
    <mat-spinner [diameter]="70"></mat-spinner>
</div>