<h1 mat-dialog-title>{{dataReceive.title}}</h1>
<div mat-dialog-content>
    <div fxLayout="row">
        <div class="text-field" fxLayout="row" fxLayoutAlign=" center">Họ và tên</div>
        <mat-form-field>
            <input matInput>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayout="row" fxLayoutAlign=" center">
        <div class="text-field">Email</div>
        <mat-form-field>
            <input matInput>
        </mat-form-field>
    </div>

    <div class="note" fxLayout="row" fxLayout="row" fxLayoutAlign=" center">
        <div class="text-field">Ngôn ngữ</div>
        <mat-form-field appearance="none" class="search filter">
            <select matNativeControl>
                <option value="all">Tiếng Đức</option>
                <option value="volvo">Tiếng Anh</option>
            </select>
        </mat-form-field>
    </div>

    <div class="note" fxLayout="row" fxLayout="row" fxLayoutAlign=" center">
        <div class="text-field">Trình độ cao nhất</div>
        <mat-form-field appearance="none" class="search filter">
            <select matNativeControl>
                <option value="all">B1</option>
                <option value="volvo">A1</option>
            </select>
        </mat-form-field>
    </div>

    <div class="note" fxLayout="row" fxLayout="row" fxLayoutAlign=" center">
        <div class="text-field">Mức học phí</div>
        <mat-form-field appearance="none" class="search filter">
            <select matNativeControl [(ngModel)]="data.lecturer.price_level">
                <option value="Normal">Normal</option>
                <option value="Special">Special</option>
            </select>
        </mat-form-field>
    </div>

    <div class="note last-field" fxLayout="row" fxLayout="row" fxLayoutAlign=" center">
        <div class="text-field">Link facebook</div>
        <mat-form-field appearance="none" class="search text-input" fxFlex>
            <input matInput>
        </mat-form-field>
    </div>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="12px">
    <button mat-stroked-button color="primary" mat-dialog-close>Huỷ</button>
    <div *ngIf="dataReceive.feature === 'update'">
        <button mat-raised-button color="primary" mat-dialog-close>Lưu thay đổi</button>
    </div>
    <div *ngIf="dataReceive.feature === 'add'">
        <button mat-raised-button color="primary" mat-dialog-close>Thêm giáo viên</button>
    </div>
</div>