<div class="footer" fxLayout="column">
    <div class="title" fxLayout="row wrap" fxFlex>
        <div fxFlex="20">
            <img src="assets/imgs/teame-logo.png" alt="mule-logo">
        </div>
        <div class="title-content" fxFlex="20">Về chúng tôi</div>
        <div class="title-content" fxFlex="20">Hỗ trợ khách hàng</div>
        <div class="title-content" fxFlex="20">Thanh toán</div>
        <div class="title-content" fxFlex="20">Có thể bạn sẽ cần</div>
    </div>

    <div class="info-route" fxLayout="row" fxLayoutAlign="space-between">
        <div fxFlex="20">
            Thông tin công ty
        </div>
        <div fxFlex="20" fxLayout="column">
            <p>Giới thiệu</p>
            <p>Tuyển dụng</p>
            <p>Quy định và điều khoản</p>
            <p>Bảo mật</p>
            <p>Liên hệ</p>
        </div>
        <div fxFlex="20" fxLayout="column">
            <p>Hướng dẫn sử dụng</p>
            <p>Mời bạn bè</p>
            <p>Góp ý/phản hồi</p>
            <p>Bảo mật</p>
            <p>Liên hệ</p>
        </div>
        <div fxFlex="20" fxLayout="column">
            <p>Nạp tiền</p>
            <p>Rút tiền</p>
            <p>Hướng dẫn thanh toán</p>
            <p>Quy định thanh toán</p>
        </div>
        <div fxFlex="20" fxLayout="column">
            <p>Tips cho User</p>
            <p>Tips cho Teamer</p>
            <p>Hướng dẫn uprank</p>
        </div>
    </div>
</div>