<h1 mat-dialog-title>THAY ĐỔI TRẠNG THÁI HỌC VIÊN</h1>
<div mat-dialog-content>
    <div class="user-info">
        <div fxLayout="row wrap">
            <div fxFlex="60" fxLayout="row" fxFlexOffset="10" fxLayoutAlign=" center">
                <div class="text-field">Học viên</div>
                <div>{{data?.fullName}}</div>
            </div>
            <div class="status-current" fxFlex="60" fxLayout="row" fxFlexOffset="10" fxLayoutAlign=" center">
                <div class="text-field">Trạng thái hiện tại</div>
                <div [ngSwitch]="data.status">
                    <div *ngSwitchCase="'WAITING'"><strong>Chờ học thử</strong></div>
                    <div *ngSwitchCase="'TRIAL'"><strong>Học thử</strong></div>
                    <div *ngSwitchCase="'ABORTED'"><strong>Không học</strong></div>
                    <div *ngSwitchCase="'PAYMENT_PENDING'"><strong>Chờ học phí</strong></div>
                    <div *ngSwitchCase="'OFFICIAL'"><strong>Học chính thức</strong></div>
                    <div *ngSwitchCase="'FINISHED'"><strong>Đã học xong</strong></div>
                </div>
            </div>

            <div class="note" fxFlex="60" fxLayout="row" fxFlexOffset="10" fxLayoutAlign=" center">
                <div class="text-field">Cập nhật trạng thái</div>
                <mat-form-field appearance="none" class="search filter">
                    <select matNativeControl [formControl]="statusSelected" required>
                        <option *ngFor="let status of statusList" [value]="status.value">{{status?.text}}</option>
                    </select>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="class-info">
        <div class="note" fxLayout="row" fxFlexOffset="10" fxFlex="80" fxLayoutAlign=" center">
            <div class="text-field">Ghi chú</div>
            <mat-form-field fxFlex appearance="outline">
                <textarea matInput [(ngModel)]="alumnusInfo.note"></textarea>
            </mat-form-field>
        </div>
    </div>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="12px">
    <button mat-stroked-button color="primary" mat-dialog-close>Huỷ</button>
    <button mat-raised-button color="primary" (click)="updateStatus()" [disabled]="!statusSelected.valid">
        Cập nhật
    </button>
</div>

<div *ngIf="loading" class="loading-dialog">
    <mat-spinner [diameter]="70"></mat-spinner>
</div>