<div class="classes" fxLayout="column">
    <div class="user" fxLayout="row" fxLayoutAlign="end center">
        natbestboy@gmail.com
        <img src="assets/avatar/Morgan Freeman.jpg" class="ava chat">
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div class="header">Tất Cả Lớp Học</div>
    </div>

    <div class="filter-bar" fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div fxLayout="row wrap" fxLayoutGap="12px" fxLayoutAlign=" center">
            <mat-form-field appearance="none" class="search filter">
                <select matNativeControl>
                    <option value="all">Tất cả ngôn ngữ</option>
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                </select>
            </mat-form-field>

            <mat-form-field appearance="none" class="search filter">
                <select matNativeControl>
                    <option value="all">Tất cả trạng thái</option>
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                </select>
            </mat-form-field>

            <mat-form-field appearance="none" class="search date">
                <input matInput [matDatepicker]="dp" [formControl]="date">
                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp startView="multi-year" (yearSelected)="chosenYearHandler($event)"
                    (monthSelected)="chosenMonthHandler($event, dp)" panelClass="example-month-picker">
                </mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="none" class="search">
                <div fxLayout="row" fxLayoutGap="6px">
                    <mat-icon>search</mat-icon>
                    <input matInput type="text" placeholder="Search">
                </div>
            </mat-form-field>
        </div>

        <button mat-raised-button color="primary">
            <mat-icon>add</mat-icon>
            Thêm lớp học
        </button>
    </div>


    <div class="data-table">
        <mat-table [dataSource]="dataSource" [trackBy]="trackByFn">

            <!-- Code Column -->
            <ng-container matColumnDef="code">
                <mat-header-cell *matHeaderCellDef> Mã lớp </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element?.code}} </mat-cell>
            </ng-container>

            <!-- Lecturer Column -->
            <ng-container matColumnDef="lecturer">
                <mat-header-cell *matHeaderCellDef> Giáo viên </mat-header-cell>
                <mat-cell *matCellDef="let element" fxLayout="column" fxLayoutAlign="center start">
                    <div>{{element?.lecturer?.name}}</div>
                    <div class="long-text">{{element?.lecturer?.linkFb}}</div>
                </mat-cell>
            </ng-container>

            <!-- Level Column -->
            <ng-container matColumnDef="level">
                <mat-header-cell *matHeaderCellDef> Trình độ </mat-header-cell>
                <mat-cell *matCellDef="let element" fxLayout="column" fxLayoutAlign="center start">
                    <div>{{element?.level?.language}}</div>
                    <div>{{element?.level?.cetificate}}</div>
                </mat-cell>
            </ng-container>

            <!-- Time Column -->
            <ng-container matColumnDef="time">
                <mat-header-cell *matHeaderCellDef> Giờ học </mat-header-cell>
                <mat-cell *matCellDef="let element" fxLayout="column" fxLayoutAlign="center start">
                    <div>{{element?.time?.clock}}</div>
                    <div>{{element?.time?.day}}</div>
                    <div></div>
                </mat-cell>
            </ng-container>

            <!-- Attendance Column -->
            <ng-container matColumnDef="attendance">
                <mat-header-cell *matHeaderCellDef> Sĩ số </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element?.attendance}}/{{element?.popular}} </mat-cell>
            </ng-container>

            <!-- Local Column -->
            <ng-container matColumnDef="local">
                <mat-header-cell *matHeaderCellDef> Thị trường </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element?.local}} </mat-cell>
            </ng-container>

            <!-- Schedule Column -->
            <ng-container matColumnDef="schedule">
                <mat-header-cell *matHeaderCellDef> Lộ trình</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element?.schedule}} </mat-cell>
            </ng-container>

            <!-- Status Column -->
            <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef> Trạng thái </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element?.status}} </mat-cell>
            </ng-container>

            <!-- Supervisor Column -->
            <ng-container matColumnDef="supervisor">
                <mat-header-cell *matHeaderCellDef> Phụ trách </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element?.supervisor}} </mat-cell>
            </ng-container>

            <!-- Menu Column -->
            <ng-container matColumnDef="menu">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element" fxLayout="column" fxLayoutAlign="center center">
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_horiz</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="openDialogUpdateClass(element)">Chỉnh sửa</button>
                        <button mat-menu-item (click)="redirectDetail(element)">Danh sách</button>
                        <button mat-menu-item>Activity log</button>
                    </mat-menu>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>

</div>