/** @format */

.mat-dialog-title {
  text-align: center;
  font-weight: 700;
}

.mat-dialog-content {
  h2 {
    margin-left: 5%;
    margin-top: 16px;
    color: #3f51b5;
    font-weight: 700;
  }

  .text-field {
    width: 110px;
    padding-bottom: 4.8px;
  }

  .note {
    margin-top: 17px;
  }

  .choose-date {
    > div {
      width: calc(100% / 7);
      height: 30px;
      text-align: center;
      padding-top: 9px;
      border: 1px solid #d8d8d8;
      cursor: pointer;
    }

    > div.first-child {
      border-radius: 3px 0 0 3px;
    }

    > div.last-child {
      border-radius: 0 3px 3px 0;
    }

    > div.checked,
    div.checked:hover {
      width: calc(100% / 7 - 2px);
      height: 28px;
      font-weight: 700;
      border-width: 2px;
      border-color: #3f51b5;
      color: #3f51b5;
    }

    > div:hover {
      font-weight: 700;
      border-color: #3f51b5;
      color: #3f51b5;
    }

    // border: 1px solid #d8d8d8;
    // border-radius: 3px;
  }
}

.mat-dialog-actions {
  padding: 17px 0;
  border-top: 1px solid;
}
