<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content [formGroup]="form">
    <div class="user-info">
        <h2>Thông Tin Học Viên</h2>
        <div fxLayout="row wrap">
            <div fxFlex="40" fxLayout="row" fxFlexOffset="10" fxLayoutAlign=" center">
                <div class="text-field">Họ và tên</div>
                <mat-form-field>
                    <input matInput formControlName="fullName" required>
                </mat-form-field>
            </div>
            <div fxFlex="40" fxLayout="row" fxLayoutAlign=" center">
                <div class="text-field">Link fb</div>
                <mat-form-field>
                    <input matInput formControlName="facebookLink">
                </mat-form-field>
            </div>

            <div fxFlex="40" fxLayout="row" fxFlexOffset="10" fxLayoutAlign=" center">
                <div class="text-field">Email</div>
                <mat-form-field>
                    <input matInput formControlName="email" required>
                </mat-form-field>
            </div>
            <div fxFlex="40" fxLayout="row" fxLayoutAlign=" center">
                <div class="text-field">Tuổi</div>
                <mat-form-field>
                    <input matInput formControlName="age" required>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="class-info">
        <h2>Đăng Kí Lớp Học</h2>
        <div fxLayout="row wrap">
            <div fxFlex="40" fxLayout="row" fxFlexOffset="10" fxLayoutAlign=" center">
                <div class="text-field">Ngôn ngữ</div>
                <mat-form-field appearance="none" class="search filter">
                    <mat-select matNativeControl formControlName="language" (selectionChange)="changeLanguage($event)">
                        <mat-option *ngFor="let language of languages" [value]="language.id">{{language.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxFlex="40" fxLayout="row" fxLayoutAlign=" center">
                <div class="text-field">Trình độ</div>
                <mat-form-field appearance="none" class="search filter">
                    <mat-select matNativeControl formControlName="level">
                        <mat-option *ngFor="let level of levels" [value]="level.id">{{level.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxFlex="40" fxLayout="row" fxFlexOffset="10" fxLayoutAlign=" center">
                <div class="text-field">Số lượng học viên</div>
                <mat-form-field appearance="none" class="search filter">
                    <mat-select matNativeControl formControlName="quantity">
                        <mat-option *ngFor="let num of quantity" [value]="num">{{num}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxFlex="40" fxLayout="row" fxLayoutAlign=" center">
                <div class="text-field">Mã lớp đề xuất</div>
                <mat-form-field appearance="none" class="search filter">
                    <mat-select matNativeControl formControlName="expectedClass">
                        <mat-option *ngFor="let class of classes" [value]="class.id">{{class.classCode}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxFlexOffset="10" fxLayoutAlign=" center">
                <div class="text-field">Giờ học (DE)</div>
                <div fxLayout="row" fxLayoutGap="12px" fxLayoutAlign=" center">
                    <mat-form-field appearance="outline">
                        <mat-label>Hour</mat-label>
                        <mat-select [(value)]="hourSelected" (selectionChange)="changeTimeSelected()">
                            <mat-option *ngFor="let hour of hours" [value]="hour">{{ hour }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Minute</mat-label>
                        <mat-select [(value)]="minuteSelected" (selectionChange)="changeTimeSelected()">
                            <mat-option *ngFor="let minute of minutes" [value]="minute">{{ minute }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div fxLayout="row" fxFlexOffset="10" fxFlex="80" fxLayoutAlign=" center">
                <div class="text-field">Ngày học</div>
                <div class="choose-date" fxFlex fxLayout="row" fxLayoutAlign=" center">
                    <div *ngFor="let day of weekDay; let first = first; let last = last;"
                        [ngClass]="{'first-child': first, 'last-child': last, 'checked': day.checked}"
                        (click)="chooseTimeTable(day)">
                        {{day.show}}
                    </div>
                </div>
            </div>

            <div class="note" fxLayout="row" fxFlexOffset="10" fxFlex="80" fxLayoutAlign=" center">
                <div class="text-field">Ghi chú</div>
                <mat-form-field fxFlex appearance="outline">
                    <textarea matInput formControlName="note"></textarea>
                </mat-form-field>
            </div>

        </div>
    </div>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="12px" [formGroup]="form">
    <button mat-stroked-button color="primary" mat-dialog-close>Huỷ</button>
    <div *ngIf="data.type === 'add'">
        <button mat-raised-button color="primary" (click)="submit()" [disabled]="!form.valid">Đăng ký</button>
    </div>
    <div *ngIf="data.type === 'update'">
        <button mat-raised-button color="primary" (click)="submit()" [disabled]="!form.valid">Lưu thay đổi</button>
    </div>
</div>

<div *ngIf="loading" class="loading-dialog">
    <mat-spinner [diameter]="70"></mat-spinner>
</div>