<h1 mat-dialog-title>CHỈNH SỬA THÔNG TIN LỚP HỌC {{data?.classCode}}</h1>
<div mat-dialog-content>
    <div fxLayout="row wrap" [formGroup]="form">
        <div class="status-current" fxLayout="row wrap" fxFlex="100">
            <div fxFlex="25" fxLayout="row" fxFlexOffset="10" fxLayoutAlign=" center">
                Ngôn ngữ : {{data?.language}}
            </div>
            <div fxFlex="25" fxLayout="row" fxLayoutAlign=" center">
                Trình độ : {{data?.level}}
            </div>
            <div fxFlex="25" fxLayout="row" fxLayoutAlign=" center">
                Thị trường : {{data?.local}}
            </div>
        </div>

        <div class="status-current" fxLayout="row wrap" fxFlex="100">
            <div fxFlex="25" fxLayout="row" fxFlexOffset="10" fxLayoutAlign=" center">
                Số lượng học viên : {{data?.popular}}
            </div>
            <div fxFlex="25" fxLayout="row" fxLayoutAlign=" center">
                Lộ trình : {{data?.schedule}}
            </div>
        </div>

        <div class="note" fxFlex="60" fxLayout="row" fxFlexOffset="10" fxLayoutAlign=" center">
            <div class="text-field">Giáo viên</div>
            <mat-form-field appearance="none" class="search filter">
                <select matNativeControl formControlName="teacher">
                    <option>-----</option>
                    <option *ngFor="let lecturer of lecturers" [value]="lecturer.id">{{lecturer?.fullName}}</option>
                </select>
            </mat-form-field>
        </div>

        <div class="note" fxFlex="60" fxLayout="row" fxFlexOffset="10" fxLayoutAlign=" center">
            <div class="text-field">Phụ trách</div>
            <mat-form-field appearance="none" class="search filter">
                <select matNativeControl formControlName="sale">
                    <option>-----</option>
                    <option *ngFor="let sale of sales" [value]="sale.id">{{sale?.fullName}}</option>
                </select>
            </mat-form-field>
        </div>

        <div fxLayout="row" fxFlexOffset="10" fxLayoutAlign=" center">
            <div class="text-field">Giờ học (DE)</div>
            <div fxLayout="row" fxLayoutGap="12px" fxLayoutAlign=" center">
                <mat-form-field>
                    <input matInput formControlName="time">
                </mat-form-field>
                <div>-</div>
                <mat-form-field>
                    <input matInput>
                </mat-form-field>
            </div>
        </div>


        <div fxLayout="row" fxFlexOffset="10" fxFlex="80" fxLayoutAlign=" center">
            <div class="text-field">Ngày học</div>
            <div class="choose-date" fxFlex fxLayout="row" fxLayoutAlign=" center">
                <div *ngFor="let day of week; let first = first; let last = last;"
                    [ngClass]="{'first-child': first, 'last-child': last, 'checked': day.checked}"
                    (click)="chooseTimeTable(day)">
                    {{day.value}}
                </div>
            </div>
        </div>

        <div class="note" fxLayout="row" fxFlexOffset="10" fxFlex="80" fxLayoutAlign=" center">
            <div class="text-field">Học phí thực tế</div>
            <mat-form-field appearance="none" class="search text-input">
                <input matInput type="text" placeholder="Fee" formControlName="pricing">
            </mat-form-field>
            <mat-form-field appearance="none" class="search currency">
                <select matNativeControl>
                    <option value="all">$</option>
                    <option value="saab">¥</option>
                    <option value="volvo">EUR</option>
                    <option value="mercedes">VNĐ</option>
                </select>
            </mat-form-field>
        </div>

        <div class="note last-field" fxLayout="row" fxFlexOffset="10" fxFlex="80" fxLayoutAlign=" center">
            <div class="text-field">Trạng thái</div>
            <mat-form-field appearance="none" class="search">
                <select matNativeControl>
                    <option value="all">Chính thức</option>
                    <option value="saab">Chờ mở lớp</option>
                </select>
            </mat-form-field>
        </div>
    </div>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="12px" [formGroup]="form">
    <button mat-stroked-button color="primary" mat-dialog-close>Huỷ</button>
    <button mat-raised-button color="primary" (click)="submit()" [disabled]="!form.valid">Cập nhật</button>
</div>